<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <form action="/calculadora" method="POST">
        <label for="ipt1">Valor 1</label>
        <input type="number" name="ipt1">
        <label for="ipt2">Valor 2</label>
        <input type="number" name="ipt2">
        <label for="ipt3">Operação</label>
        <input type="text" name="ipt3">
        <input type="submit" name="enviar">
    </form>
    <form>
        {%if total%}
        <p>Resultado: {{total}}</p>
        {%endif%}
    </form>
</body>
</html>